body {
   margin: 0;
   padding: 0;
   -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* IE/Edge */
    user-select: none;  
    cursor:crosshair;
 }
  #breakingbad {
   background-image: -webkit-radial-gradient(#93F9B9, #1D976C);
   background-image: radial-gradient(#93F9B9, #1D976C);
   position: absolute;
   width: 100%;
   height: 100%;
   overflow: hidden;
 }
#breakingbad.noBreathe{
   background-image: -webkit-radial-gradient(#00d2ff, #3a7bd5);
   background-image: radial-gradient(#00d2ff, #3a7bd5);
}
#social,#instruccions{
  position:fixed;
  bottom:20px;
  width:100%;
  text-align:center;
  color:white;
  font-family:monospace;
  font-size:15px;
}

#instruccions{
  top:20px;
}
#instruccions span{
  color:#ffef5f;
   font-weight:bold;
}
#instruccions h1{
  margin-bottom:2px;
}

a{
   text-decoration: none;
   font-weight:bold;
   color:white;
}