/*
 * @Author: BoBo
 * @Date: 2018-12-21 14:34:50
 * @Description: web整体布局
 */
#app {
  @import "src/styles/mixin.scss";
  .app-wrapper {
    @include clearfix;
    position: relative;
    min-height: 100%;
    width: 100%;
    background:#eee;
   
    .drawer-bg {
      background: #000;
      opacity: 0.3;
      width: 100%;
      top: 0;
      min-height: 100%;
      position: absolute;
      z-index: 999;
    }
  
    .main-container {
      min-height: calc(100% - 72px);
      transition: margin-left .28s;
      overflow: auto;
      margin-left:284px;
      padding:24px 44px 24px 0 ;
      position: relative;
      .app-main {
        // margin-top:1.875rem;
        // box-shadow: 0 4px 70px -18px #707070;

        // background: white;
        // height:100%;
        position: relative;
        overflow: auto;
      }
    }
    
    &.mobile.openSidebar{
      position: fixed;
      top: 0;
    }

 
  }
 

  
  // 侧边栏
  .sidebar-container {
    transition: width 0.28s;
    width: 225px !important;
    min-height: 500px;
    background: #333;
    box-shadow: 0 8px 14.72px 1.28px  rgba(101,169,119,.3);
    position: absolute;
    font-size: 0px;
    top: 96px;
    left: 24px;
    z-index: 1001;
    overflow: hidden;
    //reset element-ui css
    .horizontal-collapse-transition {
      transition: 0s width ease-in-out, 0s padding-left ease-in-out, 0s padding-right ease-in-out;
    }
    .scrollbar-wrapper {
      overflow-x: hidden!important;
      .el-scrollbar__view {
        height: 100%;
      }
    }
    .el-submenu__title{
      font-size:16px;
    }
    .el-scrollbar__bar.is-vertical{
      right: 0px;
    }
    .el-submenu__icon-arrow{
      color:$primary;
      &:hover{
        color:white!important;
      }
    }
    .is-horizontal {
      display: none;
    }
    a {
      display: inline-block;
      width: 100%;
      overflow: hidden;
    }
    .is-active{
      background-color:#161616!important;
    }
    .svg-icon {
      margin-right: 16px;
      fill:$primary;
      width:1.3em;
      height:1.3em;
      &:hover{
        fill:white!important;
      }
    }
    .el-menu {
      border: none;
      height: 100%;
      width: 100% !important;
    }
  }
  .hideSidebar {
    .sidebar-container {
      width: 36px !important;
      left:0px!important;
    }
    .main-container {
      margin-left: 60px;
    }
    .submenu-title-noDropdown {
      padding-left: 10px !important;
      position: relative;
      .el-tooltip {
        padding: 0 10px !important;
      }
    }
    .el-submenu {
      overflow: hidden;
      &>.el-submenu__title {
        padding-left: 10px !important;
        .el-submenu__icon-arrow {
          display: none;
        }
      }
    }
    .el-menu-item{
      padding-left:10px!important;
    }
    .el-menu-item>span{
      margin-left:-10px;
    }
    
    .el-menu--collapse {
      .el-submenu {
        &>.el-submenu__title {
          &>span {
            height: 0;
            width: 0;
            overflow: hidden;
            visibility: hidden;
            display: inline-block;
          }
        }
      }
    }
  }

  .sidebar-container .nest-menu .el-submenu>.el-submenu__title,
  .sidebar-container .el-submenu .el-menu-item {
    // background-color: $subMenuBg !important;
    &:hover {
      background-color: $menuHover !important;
      .el-submenu__icon-arrow{
      color:white!important;
      }
      .svg-icon{
        fill:white!important;
      }

    }
   
   
  }
  .el-menu--collapse .el-menu .el-submenu {
    min-width: 225px !important;
  }

  //适配移动端
  .mobile {
    .main-container {
      margin-left: 0px;
    }
    .sidebar-container {
      transition: transform .28s;
      width: 225px !important;
    }
    &.hideSidebar {
      .sidebar-container {
        transition-duration: 0.3s;
        transform: translate3d(-180px, 0, 0);
      }
    }
  }
  .withoutAnimation {
    .main-container,
    .sidebar-container {
      transition: none;
    }
  }
}

.el-menu--vertical{
  & >.el-menu{
    .svg-icon{
      margin-right: 16px;
    }
  }
}
